<div class="border"><h1 class="text-center">Stupid Coaching</h1></div>
<div class="border text-center" style="width: 500px align-item: center"><p class="fs-4">" <%= @question %> "</p>
<p>- You</p></div>
<div class="border text-center" style="width: 500px align-item: center"><p class=" fs-6">" <mark><%= @answer %> </mark>" </p><p>- Coach</p></div>

<div class="text-center"><%= link_to "ask a new question", ask_path %></div>
