<h1 class="text-start">Stupid Coaching</h1>
<p class="text-start fs-4"><%= @question %> - You</p>
<p class="text-start fs-6"><%= @answer %> - Coach</p>

<div class="text-start"><%= link_to "ask a new question", ask_path %></div>
