<h1 class="text-center">Stupid Coaching</h1>

<form action="answer" data-turbo="false" class="text-center">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
